DJANGO_SECRET_KEY={{ voxhelm_django_secret_key | quote }}
VOXHELM_ALLOWED_HOSTS={{ (voxhelm_allowed_hosts | join(',')) | quote }}
VOXHELM_BEARER_TOKENS={{ voxhelm_bearer_tokens_env | quote }}
VOXHELM_MLX_MODEL={{ voxhelm_mlx_model | quote }}
VOXHELM_ALLOWED_URL_HOSTS={{ (voxhelm_allowed_url_hosts | join(',')) | quote }}
VOXHELM_TRUSTED_HTTP_HOSTS={{ (voxhelm_trusted_http_hosts | join(',')) | quote }}
VOXHELM_MAX_UPLOAD_BYTES={{ voxhelm_max_upload_bytes | int }}
VOXHELM_MAX_URL_DOWNLOAD_BYTES={{ voxhelm_max_url_download_bytes | int }}
VOXHELM_URL_FETCH_TIMEOUT_SECONDS={{ voxhelm_url_fetch_timeout_seconds | int }}

