DJANGO_SETTINGS_MODULE="config.settings"
DJANGO_SECRET_KEY={{ voxhelm_django_secret_key | quote }}
VOXHELM_ALLOWED_HOSTS={{ (voxhelm_allowed_hosts | join(',')) | quote }}
VOXHELM_BEARER_TOKENS={{ voxhelm_bearer_tokens_env | quote }}
VOXHELM_STT_BACKEND={{ voxhelm_stt_backend | quote }}
VOXHELM_STT_FALLBACK_BACKEND={{ voxhelm_stt_fallback_backend | quote }}
VOXHELM_TTS_BACKEND={{ voxhelm_tts_backend | quote }}
VOXHELM_TTS_MAX_INPUT_CHARS={{ voxhelm_tts_max_input_chars | int }}
VOXHELM_MLX_MODEL={{ voxhelm_mlx_model | quote }}
VOXHELM_WHISPERCPP_MODEL={{ voxhelm_whispercpp_model | quote }}
VOXHELM_WHISPERCPP_BIN={{ voxhelm_whispercpp_bin | quote }}
VOXHELM_WHISPERCPP_PROCESSORS={{ voxhelm_whispercpp_processors | int }}
VOXHELM_WHISPERKIT_ENABLED={{ 'true' if voxhelm_whisperkit_enabled | bool else 'false' }}
VOXHELM_WHISPERKIT_HOST={{ voxhelm_whisperkit_host | quote }}
VOXHELM_WHISPERKIT_PORT={{ voxhelm_whisperkit_port | int }}
VOXHELM_WHISPERKIT_BASE_URL={{ voxhelm_whisperkit_base_url | quote }}
VOXHELM_WHISPERKIT_MODEL={{ voxhelm_whisperkit_model | quote }}
VOXHELM_WHISPERKIT_AUDIO_ENCODER_COMPUTE_UNITS={{ voxhelm_whisperkit_audio_encoder_compute_units | quote }}
VOXHELM_WHISPERKIT_TEXT_DECODER_COMPUTE_UNITS={{ voxhelm_whisperkit_text_decoder_compute_units | quote }}
VOXHELM_WHISPERKIT_CONCURRENT_WORKER_COUNT={{ voxhelm_whisperkit_concurrent_worker_count | int }}
VOXHELM_WHISPERKIT_CHUNKING_STRATEGY={{ voxhelm_whisperkit_chunking_strategy | quote }}
VOXHELM_WHISPERKIT_TIMEOUT_SECONDS={{ voxhelm_whisperkit_timeout_seconds | int }}
VOXHELM_STT_DEBUG_LOGGING={{ 'true' if voxhelm_stt_debug_logging | bool else 'false' }}
VOXHELM_MODEL_CACHE_DIR={{ voxhelm_model_cache_dir | quote }}
VOXHELM_PIPER_VOICE_DIR={{ voxhelm_piper_voice_dir | quote }}
VOXHELM_PIPER_VOICES={{ (voxhelm_piper_voices | join(',')) | quote }}
VOXHELM_PIPER_DEFAULT_VOICE={{ voxhelm_piper_default_voice | quote }}
VOXHELM_PIPER_LANGUAGE_VOICES="{% for item in voxhelm_piper_language_voices | dict2items %}{{ item.key }}={{ item.value }}{% if not loop.last %},{% endif %}{% endfor %}"
VOXHELM_WYOMING_STT_HOST={{ voxhelm_wyoming_stt_host | quote }}
VOXHELM_WYOMING_STT_PORT={{ voxhelm_wyoming_stt_port | int }}
VOXHELM_WYOMING_STT_BACKEND={{ voxhelm_wyoming_stt_backend | quote }}
VOXHELM_WYOMING_STT_MODEL={{ voxhelm_wyoming_stt_model | quote }}
VOXHELM_WYOMING_STT_LANGUAGE={{ voxhelm_wyoming_stt_language | quote }}
VOXHELM_WYOMING_STT_LANGUAGES={{ (voxhelm_wyoming_stt_languages | join(',')) | quote }}
VOXHELM_WYOMING_STT_PROMPT={{ voxhelm_wyoming_stt_prompt | quote }}
VOXHELM_WYOMING_STT_NORMALIZE_TRANSCRIPT={{ 'true' if voxhelm_wyoming_stt_normalize_transcript | bool else 'false' }}
VOXHELM_WYOMING_SAMPLES_PER_CHUNK={{ voxhelm_wyoming_samples_per_chunk | int }}
VOXHELM_LANE_SCHEDULER_ENABLED={{ 'true' if voxhelm_lane_scheduler_enabled | bool else 'false' }}
VOXHELM_LANE_SCHEDULER_DIR={{ voxhelm_lane_scheduler_dir | quote }}
VOXHELM_LANE_SCHEDULER_STALE_SECONDS={{ voxhelm_lane_scheduler_stale_seconds | int }}
VOXHELM_ALLOWED_URL_HOSTS={{ (voxhelm_allowed_url_hosts | join(',')) | quote }}
VOXHELM_TRUSTED_HTTP_HOSTS={{ (voxhelm_trusted_http_hosts | join(',')) | quote }}
VOXHELM_MAX_UPLOAD_BYTES={{ voxhelm_max_upload_bytes | int }}
VOXHELM_MAX_URL_DOWNLOAD_BYTES={{ voxhelm_max_url_download_bytes | int }}
VOXHELM_BATCH_MAX_DOWNLOAD_BYTES={{ voxhelm_batch_max_download_bytes | int }}
VOXHELM_URL_FETCH_TIMEOUT_SECONDS={{ voxhelm_url_fetch_timeout_seconds | int }}
VOXHELM_TASKS_BACKEND={{ voxhelm_task_backend | quote }}
VOXHELM_TASK_QUEUE={{ voxhelm_task_queue | quote }}
VOXHELM_FFMPEG_BIN={{ voxhelm_ffmpeg_bin | quote }}
VOXHELM_ARTIFACT_BACKEND={{ voxhelm_artifact_backend | quote }}
VOXHELM_ARTIFACT_ROOT={{ voxhelm_artifact_root | quote }}
VOXHELM_ARTIFACT_BUCKET={{ voxhelm_artifact_bucket | quote }}
VOXHELM_ARTIFACT_PREFIX={{ voxhelm_artifact_prefix | quote }}
VOXHELM_ARTIFACT_S3_ENDPOINT_URL={{ voxhelm_artifact_s3_endpoint_url | quote }}
VOXHELM_ARTIFACT_S3_REGION={{ voxhelm_artifact_s3_region | quote }}
VOXHELM_ARTIFACT_S3_ACCESS_KEY_ID={{ voxhelm_artifact_s3_access_key_id | quote }}
VOXHELM_ARTIFACT_S3_SECRET_ACCESS_KEY={{ voxhelm_artifact_s3_secret_access_key | quote }}
VOXHELM_ARTIFACT_S3_FORCE_PATH_STYLE={{ 'true' if voxhelm_artifact_s3_force_path_style | bool else 'false' }}
