DJANGO_SECRET_KEY={{ voxhelm_django_secret_key | quote }}
VOXHELM_ALLOWED_HOSTS={{ (voxhelm_allowed_hosts | join(',')) | quote }}
VOXHELM_BEARER_TOKENS={{ voxhelm_bearer_tokens_env | quote }}
VOXHELM_MLX_MODEL={{ voxhelm_mlx_model | quote }}
VOXHELM_ALLOWED_URL_HOSTS={{ (voxhelm_allowed_url_hosts | join(',')) | quote }}
VOXHELM_TRUSTED_HTTP_HOSTS={{ (voxhelm_trusted_http_hosts | join(',')) | quote }}
VOXHELM_MAX_UPLOAD_BYTES={{ voxhelm_max_upload_bytes | int }}
VOXHELM_MAX_URL_DOWNLOAD_BYTES={{ voxhelm_max_url_download_bytes | int }}
VOXHELM_BATCH_MAX_DOWNLOAD_BYTES={{ voxhelm_batch_max_download_bytes | int }}
VOXHELM_URL_FETCH_TIMEOUT_SECONDS={{ voxhelm_url_fetch_timeout_seconds | int }}
VOXHELM_TASKS_BACKEND={{ voxhelm_task_backend | quote }}
VOXHELM_TASK_QUEUE={{ voxhelm_task_queue | quote }}
VOXHELM_FFMPEG_BIN={{ voxhelm_ffmpeg_bin | quote }}
VOXHELM_ARTIFACT_BACKEND={{ voxhelm_artifact_backend | quote }}
VOXHELM_ARTIFACT_ROOT={{ voxhelm_artifact_root | quote }}
VOXHELM_ARTIFACT_BUCKET={{ voxhelm_artifact_bucket | quote }}
VOXHELM_ARTIFACT_PREFIX={{ voxhelm_artifact_prefix | quote }}
VOXHELM_ARTIFACT_S3_ENDPOINT_URL={{ voxhelm_artifact_s3_endpoint_url | quote }}
VOXHELM_ARTIFACT_S3_REGION={{ voxhelm_artifact_s3_region | quote }}
VOXHELM_ARTIFACT_S3_ACCESS_KEY_ID={{ voxhelm_artifact_s3_access_key_id | quote }}
VOXHELM_ARTIFACT_S3_SECRET_ACCESS_KEY={{ voxhelm_artifact_s3_secret_access_key | quote }}
VOXHELM_ARTIFACT_S3_FORCE_PATH_STYLE={{ 'true' if voxhelm_artifact_s3_force_path_style | bool else 'false' }}
