OPSGATE_SERVICE_NAME={{ opsgate_service_name }}
OPSGATE_BIND_HOST={{ opsgate_api_bind_host }}
OPSGATE_BIND_PORT={{ opsgate_api_bind_port }}
OPSGATE_DB_PATH={{ opsgate_db_path }}
OPSGATE_UI_USERNAME={{ opsgate_ui_username }}
OPSGATE_UI_PASSWORD_BCRYPT={{ opsgate_ui_password_bcrypt }}
OPSGATE_SESSION_SECRET={{ opsgate_session_secret }}
OPSGATE_UI_SESSION_TIMEOUT_SECONDS={{ opsgate_ui_session_timeout_seconds }}
OPSGATE_SUBMIT_TOKEN_OPENCLAW={{ opsgate_submit_token_openclaw }}
OPSGATE_SUBMIT_TOKEN_NYXMON={{ opsgate_submit_token_nyxmon }}
OPSGATE_SUBMIT_TOKEN_OPERATOR={{ opsgate_submit_token_operator }}
OPSGATE_RUNNER_TOKEN={{ opsgate_runner_token }}
OPSGATE_MAX_PARALLEL_JOBS={{ opsgate_max_parallel_jobs }}
OPSGATE_MAX_DURATION_SECONDS_DEFAULT={{ opsgate_max_duration_seconds_default }}
OPSGATE_POLICY_FLOOR_REQUIRE_REVIEWER_STEP={{ opsgate_policy_floor_require_reviewer_step | ternary('true', 'false') }}
OPSGATE_SUBMIT_POLICY_OPENCLAW_REQUIRE_REVIEWER_STEP={{ opsgate_submit_policy_openclaw_require_reviewer_step | ternary('true', 'false') }}
OPSGATE_SUBMIT_POLICY_NYXMON_REQUIRE_REVIEWER_STEP={{ opsgate_submit_policy_nyxmon_require_reviewer_step | ternary('true', 'false') }}
OPSGATE_SUBMIT_POLICY_OPERATOR_REQUIRE_REVIEWER_STEP={{ opsgate_submit_policy_operator_require_reviewer_step | ternary('true', 'false') }}
OPSGATE_REQUIRE_TAILSCALE_CONTEXT={{ opsgate_require_tailscale_context | ternary('true', 'false') }}
OPSGATE_ALLOWED_CIDRS={{ opsgate_allowed_cidrs | join(',') }}
OPSGATE_EXECUTION_DATA_DIR={{ execution_data_dir }}
OPSGATE_DISABLE_FILE_PATH={{ opsgate_disable_file_path }}
