OPSGATE_SERVICE_NAME={{ opsgate_service_name }}
OPSGATE_UI_USERNAME={{ opsgate_ui_username }}
OPSGATE_UI_PASSWORD_BCRYPT={{ opsgate_ui_password_bcrypt }}
OPSGATE_SUBMIT_TOKEN_OPENCLAW={{ opsgate_submit_token_openclaw }}
OPSGATE_SUBMIT_TOKEN_NYXMON={{ opsgate_submit_token_nyxmon }}
OPSGATE_SUBMIT_TOKEN_OPERATOR={{ opsgate_submit_token_operator }}
OPSGATE_MAX_PARALLEL_JOBS={{ opsgate_max_parallel_jobs }}
OPSGATE_MAX_DURATION_SECONDS_DEFAULT={{ opsgate_max_duration_seconds_default }}
OPSGATE_POLICY_FLOOR_REQUIRE_REVIEWER_STEP={{ opsgate_policy_floor_require_reviewer_step | ternary('true', 'false') }}
