OPSGATE_SERVICE_NAME={{ opsgate_service_name }}
OPSGATE_RUNNER_TOKEN={{ opsgate_runner_token }}
OPSGATE_RUNNER_API_BASE_URL={{ opsgate_runner_api_base_url }}
OPSGATE_RUNNER_HOST={{ opsgate_runner_host }}
OPSGATE_RUNNER_POLL_INTERVAL_SECONDS={{ opsgate_runner_poll_interval_seconds }}
OPSGATE_RUNNER_HEARTBEAT_INTERVAL_SECONDS={{ opsgate_runner_heartbeat_interval_seconds }}
OPSGATE_RUNNER_STALE_AFTER_SECONDS={{ opsgate_runner_stale_after_seconds }}
OPSGATE_MAX_PARALLEL_JOBS={{ opsgate_max_parallel_jobs }}
OPSGATE_MAX_DURATION_SECONDS_DEFAULT={{ opsgate_max_duration_seconds_default }}
OPSGATE_POLICY_FLOOR_REQUIRE_REVIEWER_STEP={{ opsgate_policy_floor_require_reviewer_step | ternary('true', 'false') }}
OPSGATE_TMUX_SOCKET_LABEL={{ opsgate_tmux_socket_label }}
OPSGATE_EXECUTION_DATA_DIR={{ execution_data_dir }}
OPSGATE_TICKETS_DIR={{ tickets_dir }}
OPSGATE_SESSION_ARTIFACTS_DIR={{ session_artifacts_dir }}
OPSGATE_DISABLE_FILE_PATH={{ opsgate_disable_file_path }}
