<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>{{ opsgate_api_launchd_label | e }}</string>

    <key>ProgramArguments</key>
    <array>
      <string>{{ opsgate_api_program | e }}</string>
{% for arg in opsgate_api_program_arguments %}
      <string>{{ arg | e }}</string>
{% endfor %}
    </array>

    <key>EnvironmentVariables</key>
    <dict>
{% for key, value in opsgate_api_environment | dictsort %}
      <key>{{ key | e }}</key>
      <string>{{ value | e }}</string>
{% endfor %}
    </dict>

    <key>UserName</key>
    <string>{{ control_service_user | e }}</string>
    <key>GroupName</key>
    <string>{{ control_service_group | e }}</string>
    <key>WorkingDirectory</key>
    <string>{{ opsgate_api_working_directory | e }}</string>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
{% if opsgate_launchd_keepalive | bool %}
    <true/>
{% else %}
    <false/>
{% endif %}

    <key>StandardOutPath</key>
    <string>{{ opsgate_api_stdout_log | e }}</string>
    <key>StandardErrorPath</key>
    <string>{{ opsgate_api_stderr_log | e }}</string>
  </dict>
</plist>
