[Unit]
Description=Collect backup metrics every {{ backup_metrics_endpoint_timer_interval }} seconds

[Timer]
OnBootSec=30
OnUnitActiveSec={{ backup_metrics_endpoint_timer_interval }}
AccuracySec=10
Persistent=true

[Install]
WantedBy=timers.target
