# Managed by Ansible - Mastodon environment

RAILS_ENV={{ mastodon_rails_env }}
NODE_ENV={{ mastodon_node_env }}

LOCAL_DOMAIN={{ mastodon_local_domain }}
{% if mastodon_web_domain | length > 0 %}
WEB_DOMAIN={{ mastodon_web_domain }}
{% endif %}

BIND={{ mastodon_bind_host }}
STREAMING_PORT={{ mastodon_streaming_port }}
STREAMING_CLUSTER_NUM={{ mastodon_streaming_cluster_num }}

DB_HOST={{ mastodon_postgres_host }}
DB_PORT={{ mastodon_postgres_port }}
DB_NAME={{ mastodon_postgres_database }}
DB_USER={{ mastodon_postgres_user }}
DB_PASS={{ mastodon_postgres_password }}

REDIS_URL={{ mastodon_redis_url }}

SECRET_KEY_BASE={{ mastodon_secret_key_base }}
OTP_SECRET={{ mastodon_otp_secret }}
VAPID_PRIVATE_KEY={{ mastodon_vapid_private_key }}
VAPID_PUBLIC_KEY={{ mastodon_vapid_public_key }}
ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY={{ mastodon_active_record_encryption_primary_key }}
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY={{ mastodon_active_record_encryption_deterministic_key }}
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT={{ mastodon_active_record_encryption_key_derivation_salt }}

WEB_CONCURRENCY={{ mastodon_web_concurrency }}
MAX_THREADS={{ mastodon_max_threads }}
SIDEKIQ_CONCURRENCY={{ mastodon_sidekiq_concurrency }}
DB_POOL={{ mastodon_db_pool }}

{% if mastodon_smtp_server | length > 0 %}
SMTP_SERVER={{ mastodon_smtp_server }}
SMTP_PORT={{ mastodon_smtp_port }}
SMTP_LOGIN={{ mastodon_smtp_login }}
SMTP_PASSWORD={{ mastodon_smtp_password }}
SMTP_FROM_ADDRESS="{{ mastodon_smtp_from_address }}"
SMTP_DOMAIN={{ mastodon_smtp_domain }}
SMTP_AUTH_METHOD={{ mastodon_smtp_auth_method }}
SMTP_OPENSSL_VERIFY_MODE={{ mastodon_smtp_openssl_verify_mode }}
SMTP_ENABLE_STARTTLS_AUTO={{ mastodon_smtp_starttls | ternary('true', 'false') }}
{% endif %}

{% if mastodon_storage_driver == 's3' %}
S3_ENABLED=true
S3_BUCKET={{ mastodon_s3_bucket }}
S3_REGION={{ mastodon_s3_region }}
{% if mastodon_s3_endpoint | length > 0 %}
S3_ENDPOINT={{ mastodon_s3_endpoint }}
{% endif %}
{% if mastodon_s3_hostname | length > 0 %}
S3_HOSTNAME={{ mastodon_s3_hostname }}
{% endif %}
{% if mastodon_s3_alias_host | length > 0 %}
S3_ALIAS_HOST={{ mastodon_s3_alias_host }}
{% endif %}
S3_PROTOCOL={{ mastodon_s3_protocol }}
{% if mastodon_s3_port | length > 0 %}
S3_PORT={{ mastodon_s3_port }}
{% endif %}
{% if mastodon_s3_signature_version | length > 0 %}
S3_SIGNATURE_VERSION={{ mastodon_s3_signature_version }}
{% endif %}
S3_FORCE_PATH_STYLE={{ mastodon_s3_force_path_style | ternary('true', 'false') }}
AWS_ACCESS_KEY_ID={{ mastodon_s3_access_key }}
AWS_SECRET_ACCESS_KEY={{ mastodon_s3_secret_key }}
{% else %}
S3_ENABLED=false
{% endif %}
