# Managed by Ansible - Mastodon nginx proxy

[Unit]
Description=Mastodon nginx proxy
After=network.target

[Service]
Type=simple
User={{ mastodon_nginx_user }}
Group={{ mastodon_nginx_group }}
PIDFile={{ mastodon_nginx_pid_file }}
RuntimeDirectory={{ mastodon_nginx_run_dir | basename }}
RuntimeDirectoryMode=0755
ExecStartPre=/usr/sbin/nginx -t -c {{ mastodon_nginx_config_path }}
ExecStart=/usr/sbin/nginx -c {{ mastodon_nginx_config_path }} -g 'daemon off;'
ExecReload=/usr/sbin/nginx -c {{ mastodon_nginx_config_path }} -s reload
ExecStop=/usr/sbin/nginx -c {{ mastodon_nginx_config_path }} -s quit
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
