DJANGO_SETTINGS_MODULE={{ heis_django_settings_module | quote }}
DJANGO_SECRET_KEY={{ heis_django_secret_key | quote }}
DJANGO_ADMIN_URL={{ heis_django_admin_url | quote }}
DJANGO_ALLOWED_HOSTS={{ heis_django_allowed_hosts | quote }}
DJANGO_CACHE_LOCATION={{ heis_django_cache_location | quote }}
DJANGO_SERVE_MEDIA={{ heis_serve_media | ternary('True', 'False') | quote }}
WAGTAILADMIN_BASE_URL={{ heis_wagtailadmin_base_url | quote }}
