http:
  routers:
    {{ heis_fqdn }}-router:
      rule: "{{ heis_traefik_host_rule }}"

      entryPoints:
        - web
      middlewares:
        - redirect
        - csrf
      service: {{ heis_fqdn }}

    {{ heis_fqdn }}-secure-router:
      rule: "{{ heis_traefik_tls_host_rule }}"

      entryPoints:
        - web-secure
      middlewares:
        - csrf
        - sslHeaders
        - gzip-compress
{% if heis_traefik_canonical_redirect_regex | length > 0 %}
        - redirect-canonical-host
{% endif %}
        - redirect-www
      service: {{ heis_fqdn }}
      tls:
        certResolver: letsencrypt

  middlewares:
    redirect:
      redirectScheme:
        scheme: https
        permanent: true
    csrf:
      headers:
        hostsProxyHeaders: ["X-CSRFToken"]
    sslHeaders:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
          X-Forwarded-Port: "443"
    gzip-compress:
      compress: {}
    redirect-www:
      redirectRegex:
        regex: "^https?://www\\.(.+)"
        replacement: "https://${1}"
        permanent: false
{% if heis_traefik_canonical_redirect_regex | length > 0 %}
    redirect-canonical-host:
      redirectRegex:
        regex: '{{ heis_traefik_canonical_redirect_regex }}'
        replacement: '{{ heis_traefik_canonical_redirect_replacement }}'
        permanent: true
{% endif %}

  services:
    {{ heis_fqdn }}:
      loadBalancer:
        servers:
          - url: http://localhost:{{ heis_app_port }}
