# Managed by Ansible
DJANGO_SETTINGS_MODULE={{ archive_django_settings_module }}
DJANGO_SECRET_KEY={{ archive_django_secret_key }}
DJANGO_DEBUG={{ archive_django_debug | lower }}
DJANGO_ALLOWED_HOSTS={{ archive_django_allowed_hosts | join(',') }}
DJANGO_CSRF_TRUSTED_ORIGINS={{ archive_django_csrf_trusted_origins | join(',') }}
DJANGO_DB_PATH={{ archive_db_path }}
DJANGO_STATIC_ROOT={{ archive_static_root }}
ARCHIVE_API_TOKEN={{ archive_api_token }}
ARCHIVE_SUMMARY_API_KEY={{ archive_summary_api_key }}
ARCHIVE_SUMMARY_API_BASE={{ archive_summary_api_base }}
ARCHIVE_SUMMARY_MODEL={{ archive_summary_model }}
PYTHONPATH={{ archive_site_path }}/src/django:{{ archive_site_path }}/src
