CHESSLAB_DB_PATH={{ chesslab_db_path }}
CHESSLAB_OWNER={{ chesslab_owner }}
CHESSLAB_LOGIN_USER={{ chesslab_login_user }}
CHESSLAB_LOGIN_PASSWORD={{ chesslab_login_password }}
CHESSLAB_SESSION_SECRET={{ chesslab_session_secret }}
{% if chesslab_limit | string | length > 0 %}
CHESSLAB_LIMIT={{ chesslab_limit }}
{% endif %}
