DJANGO_SETTINGS_MODULE="{{ chesslab_django_settings_module | string | replace('\\', '\\\\') | replace('"', '\\"') }}"
CHESSLAB_SECRET_KEY="{{ chesslab_django_secret_key | string | replace('\\', '\\\\') | replace('"', '\\"') }}"
CHESSLAB_DEBUG="{{ chesslab_django_debug | lower | string | replace('\\', '\\\\') | replace('"', '\\"') }}"
CHESSLAB_DB_PATH="{{ chesslab_db_path | string | replace('\\', '\\\\') | replace('"', '\\"') }}"
CHESSLAB_ALLOWED_HOSTS="{{ chesslab_django_allowed_hosts | join(',') | replace('\\', '\\\\') | replace('"', '\\"') }}"
CHESSLAB_CSRF_TRUSTED_ORIGINS="{{ chesslab_django_csrf_trusted_origins | join(',') | replace('\\', '\\\\') | replace('"', '\\"') }}"
CHESSLAB_SECURE_COOKIES="{{ chesslab_secure_cookies | lower | string | replace('\\', '\\\\') | replace('"', '\\"') }}"
{% if chesslab_limit | string | length > 0 %}
CHESSLAB_TRAINER_LIMIT="{{ chesslab_limit | string | replace('\\', '\\\\') | replace('"', '\\"') }}"
{% endif %}
