[Unit]
Description=Run ZFS syncoid replication (ops-library)

[Timer]
OnCalendar={{ zfs_syncoid_replication_on_calendar }}
RandomizedDelaySec={{ zfs_syncoid_replication_randomized_delay_sec }}
Persistent=true

[Install]
WantedBy=timers.target
