# Managed by Ansible - Wagtail environment

DJANGO_SETTINGS_MODULE="{{ wagtail_django_settings_module }}"
DJANGO_SECRET_KEY="{{ wagtail_django_secret_key }}"
DJANGO_ADMIN_URL="{{ wagtail_admin_url }}"
DJANGO_ALLOWED_HOSTS="{{ wagtail_django_allowed_hosts }}"
DJANGO_CACHE_LOCATION="{{ wagtail_django_cache_location }}"

DATABASE_URL="postgres://{{ wagtail_postgres_user }}:{{ wagtail_postgres_password }}@{{ wagtail_postgres_host }}:{{ wagtail_postgres_port }}/{{ wagtail_postgres_database }}"

DJANGO_AWS_ACCESS_KEY_ID="{{ wagtail_django_aws_access_key_id }}"
DJANGO_AWS_SECRET_ACCESS_KEY="{{ wagtail_django_aws_secret_access_key }}"
DJANGO_AWS_STORAGE_BUCKET_NAME="{{ wagtail_django_aws_storage_bucket_name }}"
CLOUDFRONT_DOMAIN="{{ wagtail_cloudfront_domain }}"

DJANGO_SENTRY_DSN="{{ wagtail_django_sentry_dsn }}"
SENTRY_DSN="{{ wagtail_django_sentry_dsn }}"

DJANGO_MAILGUN_API_KEY="{{ wagtail_django_mailgun_api_key }}"
MAILGUN_API_KEY="{{ wagtail_django_mailgun_api_key }}"
MAILGUN_SENDER_DOMAIN="{{ wagtail_mailgun_sender_domain }}"
MAILGUN_DOMAIN="{{ wagtail_mailgun_sender_domain }}"

DJANGO_SERVER_EMAIL="{{ wagtail_django_server_email }}"

{% for key, value in wagtail_env_extra.items() %}
{{ key }}="{{ value | string | replace('"', '\\"') }}"
{% endfor %}
