# Managed by Ansible - MeTube environment
DOWNLOAD_DIR={{ metube_download_dir }}
AUDIO_DOWNLOAD_DIR={{ metube_audio_download_dir }}
TEMP_DIR={{ metube_temp_dir }}
STATE_DIR={{ metube_state_dir }}
OUTPUT_TEMPLATE={{ metube_download_template }}
HOST={{ metube_host }}
PORT={{ metube_port }}
BASE_DIR={{ metube_app_dir }}
DEFAULT_THEME={{ metube_default_theme }}
DOWNLOAD_MODE={{ metube_download_mode }}
MAX_CONCURRENT_DOWNLOADS={{ metube_max_concurrent_downloads }}
ENABLE_ACCESSLOG={{ metube_enable_accesslog | ternary('true', 'false') }}
LOGLEVEL={{ metube_loglevel }}
YTDL_OPTIONS={{ metube_ytdl_options | to_json }}
PYTHONUNBUFFERED=1
