#!/bin/bash
set -euo pipefail

cd {{ marina_site_path }}
{{ marina_venv_bin }}/gunicorn \
  -w {{ marina_gunicorn_workers }} \
  --access-logfile - \
  --error-logfile - \
  --access-logformat '%({x-forwarded-for}i)s %(l)s %(u)s %(t)s "%(r)s" %(s)s %(b)s "%(f)s" "%(a)s"' \
  -b 127.0.0.1:{{ marina_app_port }} \
  -t {{ marina_gunicorn_timeout }} \
  config.wsgi
