DJANGO_SETTINGS_MODULE={{ marina_django_settings_module }}
DJANGO_SECRET_KEY={{ marina_django_secret_key }}
DJANGO_ADMIN_URL={{ marina_django_admin_url }}
DJANGO_ALLOWED_HOSTS={{ marina_django_allowed_hosts }}
DJANGO_CACHE_LOCATION={{ marina_django_cache_location }}
