DAYBOOK_ARCHIVE_URL={{ daybook_archive_url | quote }}
DAYBOOK_ARCHIVE_TOKEN={{ daybook_archive_token | quote }}
DAYBOOK_QUOTE_CLASSIFIER_STATE={{ daybook_archive_quote_classifier_state | quote }}
DAYBOOK_QUOTE_CLASSIFIER_CMD={{ daybook_archive_quote_classifier_cmd | quote }}
DAYBOOK_QUOTES_UNUSED_PATH={{ daybook_quotes_unused_path | quote }}
DAYBOOK_QUOTES_USED_PATH={{ daybook_quotes_used_path | quote }}
DAYBOOK_QUOTE_LIFECYCLE_STATE={{ daybook_quote_lifecycle_state | quote }}
DAYBOOK_ARCHIVE_BROWSER_EXECUTABLE={{ daybook_archive_browser_executable | quote }}
DAYBOOK_ARCHIVE_BROWSER_USER_DATA_DIR={{ daybook_archive_browser_user_data_dir | quote }}
DAYBOOK_ARCHIVE_BROWSER_HEADLESS={{ (daybook_archive_browser_headless | bool) | ternary('true', 'false') }}
DAYBOOK_ARCHIVE_BROWSER_LAUNCH_TIMEOUT_SECONDS={{ daybook_archive_browser_launch_timeout_seconds }}
DAYBOOK_ARCHIVE_BROWSER_NAVIGATION_TIMEOUT_SECONDS={{ daybook_archive_browser_navigation_timeout_seconds }}
DAYBOOK_ARCHIVE_BROWSER_RENDER_WAIT_SECONDS={{ daybook_archive_browser_render_wait_seconds }}
