DAYBOOK_ARCHIVE_URL={{ daybook_archive_url | quote }}
DAYBOOK_ARCHIVE_TOKEN={{ daybook_archive_token | quote }}
DAYBOOK_QUOTE_CLASSIFIER_STATE={{ daybook_archive_quote_classifier_state | quote }}
DAYBOOK_QUOTE_CLASSIFIER_CMD={{ daybook_archive_quote_classifier_cmd | quote }}
