{% set daybook_sessions_effective_redact_files = daybook_sessions_redact_files + ([daybook_archive_quote_classifier_env_file] if daybook_archive_quote_classifier_enabled | bool else []) -%}
DAYBOOK_SESSIONS_PATH={{ daybook_sessions_path | quote }}
DAYBOOK_SESSIONS_STATE={{ daybook_sessions_state_path | quote }}
{% if daybook_quotes_enabled | bool or daybook_archive_quote_classifier_enabled | bool -%}
DAYBOOK_QUOTES_UNUSED_PATH={{ daybook_quotes_unused_path | quote }}
DAYBOOK_QUOTES_USED_PATH={{ daybook_quotes_used_path | quote }}
{% endif -%}
{% if daybook_sessions_effective_redact_files | length > 0 -%}
DAYBOOK_REDACT_FILES={{ (daybook_sessions_effective_redact_files | join(':')) | quote }}
{% endif -%}
AWS_ENDPOINT_URL_S3={{ daybook_sessions_aws_endpoint_url_s3 | quote }}
AWS_ACCESS_KEY_ID={{ daybook_sessions_aws_access_key_id | quote }}
AWS_SECRET_ACCESS_KEY={{ daybook_sessions_aws_secret_access_key | quote }}
AWS_REGION={{ daybook_sessions_aws_region | quote }}
AWS_DEFAULT_REGION={{ daybook_sessions_aws_default_region | quote }}
