DAYBOOK_PI_AGENT_DIR={{ daybook_weeknotes_reconcile_pi_agent_dir | quote }}
DAYBOOK_PI_PUBLIC_TIMEOUT_SECONDS={{ daybook_weeknotes_reconcile_public_timeout_seconds }}
DAYBOOK_PI_FAMILY_TIMEOUT_SECONDS={{ daybook_weeknotes_reconcile_family_timeout_seconds }}
DAYBOOK_WEEKNOTES_RECONCILE_STATE={{ daybook_weeknotes_reconcile_state_path | quote }}
DAYBOOK_WEEKNOTES_PATH={{ daybook_weeknotes_path | quote }}
DAYBOOK_SESSIONS_PATH={{ daybook_sessions_path | quote }}
DAYBOOK_ARCHIVE_URL={{ daybook_archive_url | quote }}
DAYBOOK_CAST_BASE_URL={{ daybook_weeknotes_cast_base_url | quote }}
DAYBOOK_CAST_TOKEN={{ daybook_weeknotes_cast_token | quote }}
DAYBOOK_WEEKNOTES_HOME_URL={{ daybook_weeknotes_home_url | quote }}
DAYBOOK_WEEKNOTES_HOME_TOKEN={{ daybook_weeknotes_home_token | quote }}
DAYBOOK_WEEKNOTES_PUBLIC_BLOG_ID={{ daybook_weeknotes_public_blog_id | quote }}
DAYBOOK_WEEKNOTES_FAMILY_BLOG_ID={{ daybook_weeknotes_family_blog_id | quote }}
DAYBOOK_WEEKNOTES_PUBLIC_REPOSITORIES_JSON={{ daybook_weeknotes_public_repositories_json | quote }}
{% if daybook_weeknotes_identity_attestation_verified | default(false) | bool %}
DAYBOOK_WEEKNOTES_POST_IDENTITY_EPOCH={{ daybook_weeknotes_post_identity_epoch | quote }}
{% endif %}
DAYBOOK_QUOTES_UNUSED_PATH={{ daybook_quotes_unused_path | quote }}
DAYBOOK_QUOTES_USED_PATH={{ daybook_quotes_used_path | quote }}
DAYBOOK_QUOTE_LIFECYCLE_STATE={{ daybook_quote_lifecycle_state | quote }}
AWS_ENDPOINT_URL_S3={{ daybook_sessions_aws_endpoint_url_s3 | quote }}
AWS_ACCESS_KEY_ID={{ daybook_sessions_aws_access_key_id | quote }}
AWS_SECRET_ACCESS_KEY={{ daybook_sessions_aws_secret_access_key | quote }}
AWS_REGION={{ daybook_sessions_aws_region | quote }}
AWS_DEFAULT_REGION={{ daybook_sessions_aws_default_region | quote }}
