[defaults]
vars_plugins_enabled = host_group_vars,group_vars,community.sops.sops
vars_plugins = /usr/local/lib/python3.10/dist-packages/ansible_collections/community/sops/plugins/vars
host_key_checking = false
interpreter_python = auto_silent
nocows = 1

[ssh_connection]
pipelining = true