{
  "s3_access_key_id": {{ daybook_voice_memo_inbox_s3_access_key_id | to_json }},
  "s3_endpoint_url": {{ daybook_voice_memo_inbox_s3_endpoint_url | to_json }},
  "s3_region": {{ daybook_voice_memo_inbox_s3_region | to_json }},
  "s3_secret_access_key": {{ daybook_voice_memo_inbox_s3_secret_access_key | to_json }},
  "voxhelm_token": {{ daybook_voice_memo_inbox_voxhelm_token | to_json }}
}
