{
  "activation_marker_path": {{ daybook_voice_memo_inbox_activation_marker_path | to_json }},
  "bucket": {{ daybook_voice_memo_inbox_bucket | to_json }},
  "credential_path": {{ daybook_voice_memo_inbox_credential_path | to_json }},
  "database_name": {{ daybook_voice_memo_inbox_database_name | to_json }},
  "duration_tolerance_seconds": {{ daybook_voice_memo_inbox_duration_tolerance_seconds | float }},
  "ffprobe_path": {{ daybook_voice_memo_inbox_ffprobe_path | to_json }},
  "ffmpeg_path": {{ daybook_voice_memo_inbox_ffmpeg_path | to_json }},
  "language": {{ daybook_voice_memo_inbox_language | to_json }},
  "lock_path": {{ daybook_voice_memo_inbox_lock_path | to_json }},
  "max_audio_bytes": {{ daybook_voice_memo_inbox_max_audio_bytes | int }},
  "max_duration_seconds": {{ daybook_voice_memo_inbox_max_duration_seconds | float }},
  "min_stable_seconds": {{ daybook_voice_memo_inbox_min_stable_seconds | int }},
  "model": {{ daybook_voice_memo_inbox_model | to_json }},
  "prefix": {{ daybook_voice_memo_inbox_prefix | to_json }},
  "prompt": {{ daybook_voice_memo_inbox_prompt | to_json }},
  "request_timeout_seconds": {{ daybook_voice_memo_inbox_request_timeout_seconds | float }},
  "source_dir": {{ daybook_voice_memo_inbox_source_dir | to_json }},
  "state_path": {{ daybook_voice_memo_inbox_state_path | to_json }},
  "voxhelm_endpoint": {{ daybook_voice_memo_inbox_voxhelm_endpoint | to_json }}
}
