# Managed by Ansible: Graphyard Vector launchd log rotation.
{{ graphyard_vector_stdout_log_path }} {{ graphyard_vector_log_rotation_owner_group }} {{ graphyard_vector_log_rotation_mode }} {{ graphyard_vector_log_rotation_count }} {{ graphyard_vector_log_rotation_size_kb }} {{ graphyard_vector_log_rotation_when }} {{ graphyard_vector_log_rotation_flags }}
{{ graphyard_vector_stderr_log_path }} {{ graphyard_vector_log_rotation_owner_group }} {{ graphyard_vector_log_rotation_mode }} {{ graphyard_vector_log_rotation_count }} {{ graphyard_vector_log_rotation_size_kb }} {{ graphyard_vector_log_rotation_when }} {{ graphyard_vector_log_rotation_flags }}
