[Unit]
Description={{ service.name }} monitoring agent
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory={{ service_work_dir }}
User={{ service_user }}
Group={{ service_group }}
{% if service.env is defined %}
EnvironmentFile={{ service_home }}/.env
{% endif %}
ExecStart={{ venv_path }}/bin/start-agent --db {{ service_work_dir }}/db.sqlite3{% if monitoring_telegram_enabled | default(false) %} --enable-telegram{% endif %}

[Install]
WantedBy=multi-user.target