http:
  routers:
    {{ service.name }}:
      rule: "{{ traefik_host_rule }}"
      service: {{ service.name }}
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt

  services:
    {{ service.name }}:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:{{ traefik_port }}"
        healthCheck:
          path: /health
          interval: 30s
          timeout: 5s