# Managed by Ansible - Takahe nginx cache proxy

[Unit]
Description=Takahe nginx cache proxy
After=network.target

[Service]
Type=simple
User={{ takahe_user }}
Group={{ takahe_group }}
PIDFile={{ takahe_nginx_pid_file }}
RuntimeDirectory={{ takahe_nginx_run_dir | basename }}
RuntimeDirectoryMode=0755
ExecStart=/usr/sbin/nginx -c {{ takahe_nginx_config_path }} -g 'daemon off;'
ExecReload=/usr/sbin/nginx -c {{ takahe_nginx_config_path }} -s reload
ExecStop=/usr/sbin/nginx -c {{ takahe_nginx_config_path }} -s quit
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
