# Managed by Ansible - Takahe environment

TAKAHE_ENVIRONMENT="{{ takahe_environment if takahe_environment in ['debug', 'development', 'production', 'test'] else 'production' }}"
TAKAHE_SECRET_KEY="{{ takahe_secret_key }}"
TAKAHE_MAIN_DOMAIN="{{ takahe_main_domain }}"
TAKAHE_ALLOWED_HOSTS={{ takahe_allowed_hosts | to_json }}
TAKAHE_CSRF_HOSTS={{ takahe_csrf_hosts | to_json }}
{% if takahe_cors_hosts | length > 0 -%}
TAKAHE_CORS_HOSTS={{ takahe_cors_hosts | to_json }}
{% endif -%}
TAKAHE_USE_PROXY_HEADERS="{{ 'true' if takahe_use_proxy_headers else 'false' }}"
TAKAHE_EMAIL_SERVER="{{ takahe_email_server }}"
TAKAHE_EMAIL_FROM="{{ takahe_email_from }}"
{% if takahe_auto_admin_email | length > 0 -%}
TAKAHE_AUTO_ADMIN_EMAIL="{{ takahe_auto_admin_email }}"
{% endif -%}
TAKAHE_ERROR_EMAILS={{ takahe_error_emails | to_json }}
{% if takahe_stator_token | length > 0 -%}
TAKAHE_STATOR_TOKEN="{{ takahe_stator_token }}"
{% endif -%}
{% if takahe_vapid_public_key | length > 0 -%}
TAKAHE_VAPID_PUBLIC_KEY="{{ takahe_vapid_public_key }}"
{% endif -%}
{% if takahe_vapid_private_key | length > 0 -%}
TAKAHE_VAPID_PRIVATE_KEY="{{ takahe_vapid_private_key }}"
{% endif -%}
TAKAHE_DEBUG="{{ 'true' if takahe_debug else 'false' }}"

TAKAHE_MEDIA_ROOT="{{ takahe_media_root }}"
TAKAHE_MEDIA_URL="{{ takahe_media_url }}"
{% if takahe_media_backend | length > 0 -%}
TAKAHE_MEDIA_BACKEND="{{ takahe_media_backend }}"
{% endif -%}
{% if takahe_media_backend_s3_acl | length > 0 -%}
TAKAHE_MEDIA_BACKEND_S3_ACL="{{ takahe_media_backend_s3_acl }}"
{% endif -%}
{% if takahe_caches_default | default('') | length > 0 -%}
TAKAHE_CACHES_DEFAULT="{{ takahe_caches_default }}"
{% endif -%}

PGHOST="{{ takahe_postgres_host }}"
PGPORT="{{ takahe_postgres_port }}"
PGNAME="{{ takahe_postgres_database }}"
PGUSER="{{ takahe_postgres_user }}"
PGPASSWORD="{{ takahe_postgres_password }}"
