# Managed by Ansible - static_site_git_refresh {{ static_site_git_refresh_name }}
[Unit]
Description=Periodic git refresh for static site {{ static_site_git_refresh_name }}

[Timer]
OnBootSec=2min
OnActiveSec=1min
OnUnitInactiveSec={{ static_site_git_refresh_interval }}
RandomizedDelaySec=30
Unit={{ static_site_git_refresh_systemd_unit_name }}.service

[Install]
WantedBy=timers.target
